.AuthorTemplate {
  &__intro {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;    

    h1 {
      font-size: 26px;
      line-height: 34px;
      font-weight: 600;
    }
  }

  &__author-image {
    border-radius: 50%;
    padding: 20px 0;

    img {
      width: 80px;
      margin: 0 auto;
      border-radius: 50%;
    }
  }

  &__name {
    padding-bottom: 5px;
  }

  &__title {
    color: $delos-blue;
  }

  &__bio {
    padding-top: 20px;
  }
}

.author-post-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
  margin-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px;

  &::after {
    content: "";
    flex: auto;
  }

  .author-post-card {
    margin-bottom: 40px;
    width: 33.33%;
    padding: 0 15px;

    @include media('<desktop') {
      width: 50%;
    }

    @include media('<tablet') {
      width: 100%;
    }

    &__type {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .1rem;
      font-weight: 500;
      padding: 16px 0 10px;
      color: $delos-blue;
    }

    &__title {
      font-size: 18px;
    }

    &__image {
      img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 240px;
      }
    }
  }
}