.ColumnText {

  @mixin ColumnTextTwoColumnLayout {
    .contents-wrapper {
      display: flex;

      @include media('<tablet') {
        display: block;
        margin-left: 0;
        margin-right: 0;
      }

      .title-wrapper {
        flex: 1 0 50%;
        order: 1;
        padding-right: 15px;

        @include media('<=tablet') {
          margin-right: 0;
          padding-bottom: 16px;
        }
      }

      .body-wrapper {
        flex: 1 0 50%;
        order: 2;
        padding-left: 0;

        @include media('<tablet') {
          margin-left: 0;
        }

        .body-inner {

          &:first-child:nth-last-child(2) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  @mixin ColumnTextTwoColumnWideTextLayout {
    @include ColumnTextTwoColumnLayout;

    .contents-wrapper {
      .title-wrapper {
        flex: 1 0 40%;
      }

      .body-wrapper {
        flex: 1 0 60%;
      }
    }
  }

  @mixin ColumnTextTwoColumnSwitchRight {
    .contents-wrapper {

      .title-wrapper {
        order: 2;
        margin-right: 0;
        margin-left: 15px;
      }

      .body-wrapper {
        order: 1;
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }


  &--title-top {

    .contents-wrapper {
      display: block;

      .title-wrapper {

        .title-inner {
          margin-bottom: 20px;

          @include media('<tablet') {
            margin-bottom: 16px;
          }
        }
      }

      .body-wrapper {
        display: flex;
        flex-wrap: wrap;
        @include media('<=desktop-sm') {
          display: block;
        }

        .body-inner {
          flex: 1 0 48%;

          &:first-child:nth-last-child(2) {
            margin-right: 15px;
          }

          &:nth-child(2) {
            margin-left: 15px;
            @include media('<=desktop-sm') {
              margin-left:0;
            }
          }

        }
      }
    }
  }

  &--title-left {
    @include ColumnTextTwoColumnLayout;

    .contents-wrapper .body-wrapper {
      padding-left: 0;
      padding-top: 20px;

      @include media('>=desktop'){
        padding-left: 15px;
        padding-top: 0;
      }
      @include media('<desktop') {
        padding-top: 0;
      }
    }

  }

  &--title-right {
    @include ColumnTextTwoColumnLayout;
    @include ColumnTextTwoColumnSwitchRight;
  }

  &--title-left-text-wide {
    @include ColumnTextTwoColumnWideTextLayout;
  }


  &--title-right-text-wide {
    @include ColumnTextTwoColumnWideTextLayout;
    @include ColumnTextTwoColumnSwitchRight;
  }

  .variation-width-width-83 {
    @include make-col(10, 12);
    margin: 0 auto;
    @include media('<desktop-sm') {
      @include make-col(12, 12);
    }
  }

  .variation-width-width-66 {
    @include make-col(8, 12);
    margin: 0 auto;
    @include media('<desktop-sm') {
      @include make-col(12, 12);
    }
  }

  .variation-width-width-66-no-marg {
    @include make-col(8, 12);
    margin-left: 33.33333%;
    @include media('<desktop-sm') {
      @include make-col(12, 12);
      margin-left: 0%;
    }
  }

  .variation-width-width-50 {
    @include make-col(6, 12);
    margin: 0 auto;
    @include media('<desktop-sm') {
      @include make-col(12, 12);
    }
  }

  .variation-width-width-33 {
    @include make-col(4, 12);
    margin: 0 auto;
    @include media('<desktop-sm') {
      @include make-col(12, 12);
    }
  }


  &__title {
    // color: $black;
    // font-style: normal;
    // font-weight: bold;
    // font-size: 38px;
    // line-height: 44px;
    /* identical to box height, or 116% */
    // letter-spacing: -0.2px;
    // white-space: pre-wrap;

    &.title-product-heading {
      @extend h1;
    }

    .body-wrapper & {
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    margin-top: 18px;

    .style-text-caption {
      color: $grey-dark;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 125%;
      /* identical to box height, or 20px */
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }

    p {
      color: $black;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      letter-spacing: 0.002em;
      white-space: pre-wrap;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    @include media('<tablet') {
      margin-bottom: 16px;
    }
  }

  &__secondary-title {
    margin-bottom: 18px;
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    white-space: pre-wrap;

    @include media('>desktop') {
      margin-top: 16px;
    }

    &.st-large {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      white-space: pre-wrap;
    }

    @include media('<=tablet') {
      padding-top: 0;
    }
  }

  &__body {

    .font-size-16 {
      font-size: 16px;
    }
    .font-size-18 {
      font-size: 18px;
    }
    .font-size-20 {
      font-size: 20px;
      line-height: 30px;
    }

    p {
      color: $black;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      letter-spacing: 0.002em;
      white-space: pre-wrap;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $blue;
      &:hover {
        color: $blue80;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        padding-left: 20px;
        margin-bottom: 12px;
        list-style-image: none;
        background-image: url("/svg/dash.svg");
        background-position: 0 12px;
        background-repeat: no-repeat;
      }
    }
  }

  &__links {

    //.btn:hover, .Btn:hover, .Navigation .nav-item--btn a:hover{
    //  color: #011E41 !important;
    //}

    margin-top: 30px;

    .page--canada{
      margin-top: 10px !important;
    }

    a.Btn {
      margin-right: 20px;
      margin-bottom: 12px;
      &:last-child {
        margin-right: 0;
      }

      .delos-canada--social-icons &.Btn--image {
        img {
          @include media('>desktop-sm') {
            margin-left: 4px;
          }
        }
      }

      @include media('<tablet') {
        &:not(.Btn--right-arrow-white):not(.Btn--right-arrow):not(.Btn--image) {
          display: block;
          max-width: 75%;
          margin-right: 0;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }

          &:first-child:last-child {
            display: inline-block;
            max-width: unset;
          }
        }
      }
    }
  }

  //@include blue-button-hover();
}
