.dropdown-menu {

  .Btn {
    text-align: left;

    &__contents {
      width: 100%;
    }

    &__label {
      font-size: 12px;
      text-align: left;    
    }

    &__caption {
      font-size: 10px;
      color: gray;
      text-transform:none;
    }
  }

}

  

  