.FancyTitle {

  &--indented-left {

    .title-offset {
      @include make-col-offset(1);
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    color: $blue80;
    white-space: pre-wrap;
    font-size: 56px;
    line-height: 60px; 

    @include media('<=tablet') {
      font-size: 42px;
      line-height: 42px;
    }
  }

}
