.FeatureQuoteSlider{
  .col-md-12{
    @include media('<tablet') {
      padding: 0;
    }
  }
  .FeatureQuote {
      width: 100%;
      min-height: 540px;

      &__background {
        min-height: 540px;
        align-items: flex-end;
        background-position: top left;
        background-repeat: no-repeat;
      }

      &__content-wrapper {
        background-color: $white;
        padding: 0 40px 30px 40px;
        //box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.2);
        //box-shadow: inset 0 0 30px rgba(174, 174, 192, 0.2);
        box-shadow: 0 0 30px rgba(174, 174, 192, 0.2);

        @include media('<tablet') {
          margin: 10px 24px 0px 24px;
          box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.2);
        }
      }

      &__image {
        @include media('<desktop-sm') {
          margin-bottom: 24px;
        }
        @include media('<tablet') {
          margin-top: 0;
          padding-top: 24px;
          margin-bottom: 24px;
        }
        img {
          @include media('>tablet'){
            margin-top: 40px;
            margin-left: 0;
            max-width: 160px;
            margin-bottom: 24px;
          }
        }
      }

      &__body {
        margin-top: 0px;
        color: $black;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        letter-spacing: 0.002em;
        white-space: pre-wrap;
      }

      &__quoter {
        margin-top: 24px;
        color: $black;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .04em !important;
        text-transform: uppercase;
      }

      &__logo {
        margin-top: 16px;
      }

      // carousel slider
      .col-carousel-navigation {
        align-content: flex-end;
        align-items: flex-end;

        @include media('<tablet') {
          padding-right: 24px !important;
        }

        .col-carousel-navigation-controls {
          width: 100%;
          text-align: right;

          span.action-button {
            display: inline-block;
            cursor: pointer;
            background-color: $white;
          }
        }
      }
    }
}
