.FormEmbed {
  @include make-col(12);

  $FormEmdedBorderOffset: 60px;

  position: relative;
  padding-top: $module-offset;
  padding-bottom: $module-offset;

  @include media("<tablet") {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @extend .mobile-side-pad;

  & > div {
    position: relative;
    z-index: 1;
  }

  .TitleBlock {
    @include media(">=tablet") {
      &:not(:empty) {
        padding-bottom: $module-offset / 4;
      }
    }
  }

  .TitleBlock__image {
    margin-bottom: $module-offset / 4;
  }

  .TitleBlock__title {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .TitleBlock__caption {
    width: 100%;
  }

  &__contents {
    @include flex(column);
    width: 100%;
  }

  &__content {
    @include flex(column, center, flex-start);
    z-index: 1;
    height: 100%;

    & > * {
      width: 100%;
    }

    & > *:not(.TitleBlock) {

    }
  }

  .hs-form-field {
    max-width:100% !important;
    width:100%;
    display:inline-block;
    vertical-align:bottom;
  }

  input {
       width:100%;
  }

  .hs_submit {
    width:25%;
    display:inline-block;
  }

  .field {
    margin-bottom: 0;
  }

  &--vertical {
    .hs-form-field {
      display: block;
    }
    .hs-button {
      margin-top: 24px;
    }
  }

  &--horizontal {
    .hs-form-field {
      display: inline-block;
      max-width:100% !important;
      width:75%;
    }
    .hs-button {
      margin-left: 5px
    }
  }
  .hs_message.hs-message.hs-fieldtype-textarea.field.hs-form-field{
    width: 100% !important;
  }
  &.contact-us-schools {
    .hs-form {
      .hs-form-field {
        &.hs-company {
          width: 100% !important;
        }
      }
    }
  }
}

.page--whitepaper-form-landing-page {
  .FormEmbed {
    > [data-reactid]:first-child {
      width: 100%;
    }

    .hs-form {
      h2 {
        margin-top: 80px;
        padding-bottom: 30px;
        text-align: center;
      }

      .hs-richtext {
        h2 + p {
          display: none;
        }
      }

      .hs-form-field {
        margin-bottom: 12px;

        &.hs-email {
          width: 100%;
        }
      }
    }
  }
}
