.HealthSolutionSlider {

  .hs-slider-container {
    margin-top: 96px;
    @include media('<=tablet') {
      margin-top: 56px;
    }
    @include media('<=phone') {
      margin-top: 46px;
    }

    .row {
      @include media('>tablet') {
        width: 100vw;
      }
      @include media('<=phone') {
        width: 175vw;
      }

    }
  }

  .container {

    .row {

      //h2 {
      //  font-style: normal;
      //  font-weight: bold;
      //  font-size: 38px;
      //  line-height: 44px;
      //  letter-spacing: -0.2px;
      //
      //  @include media('<tablet') {
      //    font-size: 32px;
      //    line-height: 38px;
      //    letter-spacing: -0.2px;
      //  }
      //}

      p {
        margin-bottom: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.002em;

        @include media('<tablet') {
          margin-top: 27px;
        }
      }
    }
  }

  .ImageCardItem {
    margin-left: 15px;
  }

  &__bm-button {
    margin-top: 14px;
    text-align: right;

    @include media('<tablet') {
      margin-right: 40px;
    }

    span {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-left: 0;
      cursor: pointer;
    }
  }
  .slick-slide{
    @include media('<=desktop-sm') {
      //padding:0 5px;
      width: 300px;
    }
    margin-bottom: 15px;

    width: 255px;
    margin-right: 10px;
  }

  .slick-list {

    .slick-slide {

      .Card {

        @include media('>=phone') {
          margin-right: 10px;
        }
      }
    }
  }

  .ImageCardItem{
    max-height: 335px !important;
    min-height: 335px !important;
  } 

  .ImageCardItem__inner{
    max-height: 335px !important;
    min-height: 335px !important;
  }

  .slick-slider{
    max-height: 325px;
    overflow-x: hidden;
  }

  .slick-list{
    max-height: 325px;
    overflow-x: hidden;
  }
  
}
