.HeroImageSide {

  .spacer {

    @include media('<desktop-sm') {
      padding-top: 60px;
    }
    @include media('<tablet') {
      padding-top: 60px;
    }
  }

  &__wrapper-1 {
    background: linear-gradient(to bottom, $white 0%, $white 88%, $blue80 88%);
    min-height: 550px;
    position: relative;

    @include media('<desktop-sm') {
      width: 100vw;
      min-height: 60vw;
      background: linear-gradient(to bottom, $white 0%, $white 40%, $blue80 40%);
    }
    @include media('<tablet') {
      min-height: 75vh;
      background: $blue80;
    }
  }

  &__wrapper-2 {
    padding: 80px 0;
    background-color: $blue80;

    @include media('<desktop-sm') {
      padding: 40px 0;
    }
  }


  &__image {
    display: block;
    width: 49vw;
    //height: 550px;
    max-height: 42vw;
    height: 450px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 120px;
    background-size: cover;
    background-position: center center;

    @include media('<desktop-sm') {
      width: calc(100vw - 45px);
      //@include make-col(11);
      height: 60vw;
      min-height: 60vw;
      position: unset;
    }
    @include media('<tablet') {
      width: 100vw;
      height: 70vh;
      min-height: 70vh;
      position: unset;
    }
  }

  &__content-wrapper {
    min-height: 480px;
    display: flex;
    align-items: center;
    padding-top: 130px;

    @include media('<desktop-sm') {
      flex: 0 0 calc(100% - 42px);
      max-width: calc(100% - 42px);
      min-height: unset;
      margin-top: -8vh;
      padding: 32px 24px;
      background-color: $white;
    }
    @include media('<tablet') {
      width: unset;
      min-height: unset;
      margin-top: -12vh;
      padding: 32px 24px;
      background-color: $white;
    }
  }

  &__caption {
    margin-bottom: 16px;
    display: block;
    flex: none;
    color: $blue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
    /* identical to box height, or 25px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &__title {
    color: $blue;
    @include delos-hero-heading;
  }

  &__subtitle {
    margin-top: 16px;
    display: block;
    color: $blue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    letter-spacing: 0.002em;
    white-space: pre-wrap;
  }

  &__body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }

    p {
      color: $white;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      letter-spacing: 0.002em;
    }
  }

}
