.Iframe {
  margin: 0 auto;
  width: 50%;

  &--pdf {
    width: 100%;

    iframe[style] {
      // overwrite the inline style on pdf iframe
      min-height: 375px !important;
    }

    @include media("<tablet") {
      padding-bottom: 25px;
    }
  }

  @include media("<tablet") {
    width: 100%;
  }
}
