.Metrics {
  position: relative;
  background-position: center;

  padding: $module-offset * 1.5 0;
  text-align: center;
  @extend .mobile-side-pad;

  & > div {
    position: relative;
    z-index: 1;
  }

  .TitleBlock:not(:empty) {
    padding-bottom: 0;
  }

  .TitleBlock__title {
    font-size: 2rem;
    font-weight: $weight-black;
    line-height: 1.36;
  }

  .TitleBlock__subtitle {
    @extend .bg-orange20;
  }

  .Metrics__contents {
    @include make-col(12);
    margin: 0 auto; 

    @include media(">=desktop") {
      @include make-col(9);      
    }
  }

  .Metrics__action {
    @extend .mobile-side-pad;
    margin: 0 auto;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include media(">=tablet") {
      align-items: center;
    }
  }

  &.container {
    margin-top: $module-offset;
    margin-bottom: $module-offset;
  }
}