.TagList {
  &__tags {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
  }

  &__tag {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: .3em;
    padding: 2px 5px 0;
    color: #818181;
    background: $grey-light;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .3em;

    &:hover {
      cursor: pointer;
      background: darken($grey-light, 5%);
    }

    &:not(:last-child) {
      &:after {
        content: ',';
        display: inline;
      }
    }
  }
}