//------------------------------------------------------------------------------
// Dev-time helpers
// Enable if needed & disable before committing.

$__DEBUG_DRAW__: false;

//------------------------------------------------------------------------------
// Color Palette

$v1-blue: #459DB7;
$v2-blue: #459DB7;

$coral: #FF1A5F;
$salmon: #FFCBB5;
$teal: #5ECBC9;
$canary: #FCFFC0;
$orange: #DD5217;
$orange-light: #FCF8F7;

$black: #000;
$grey-dark: #1C1C1C;
$grey-mid: #C4C4C4;
$grey-light: #D8D8D8;
$grey-ghost: #F8F9F9;
$white: #FFF;

$delos-blue: #1B51A3;
$blue5  : #F9FDFD;
$blue10 : #4398C7;
$blue20 : #4398C7;
$blue30 : #1B51A3;
$blue40 : #1B51A3;
$blue50 : #091F40;
$blue60 : #17448A;
$blue70 : #204148;
$blue80 : #091F40;

$blue: $delos-blue;
$blue-light: $blue10;

// -------------------

$green10 : #142821;
$green20 : #23483C;
$green30 : #B1D4B0;
$green40 : #73A787;
$green50 : #55907E;
$green60 : #3E695E;
$green70 : #2C473C;
$green80 : #142821;

$green : $green50;
$green-light: $green20;
// -------------------

$orange10 : #F5F3F2;
$orange20 : #EBE8E4;
$orange30 : #D7D1CA;
$orange40 : #BDB7B1;
$orange50 : #A39990;
$orange60 : #D9AF90;
$orange70 : #8d8d8d;
$orange80 : #BE876F;

$orange: $orange60;
$orange-light: $orange20;
$cream: $orange10; //#fbf7f1;

// -------------------
// can we kill these...
$air: #154248;
$water: #4398C7;
$nourishment: #0E7C9B;
$light: #399EB9;
$movement: #91CED5;
$thermal: #A7D6AD;
$sound: #63AA85;
$material: #3F947E;
$mind: #2B6B5E;
$community: #21483D;

// to here... ?


$primary: $black;
$primary-light: $blue-light;
$secondary: $white;
$primary-light: $orange-light;

$colorMap: (
  primary: $primary,
  secondary: $secondary,
  white: $white,
  black: $black,
  greyDark: $grey-dark,
  greyLight: $grey-light,
  greyGhost: $grey-ghost,
  blue: $blue,
  blueLight: $blue-light,
  green: $green,
  orange: $orange,
  orangeLight: $orange-light,
  coral: $coral,
  salmon: $salmon,
  teal: $teal,
  canary: $canary,
  cream:$cream,
  air:$air,
  water:$water,
  nourishment:$nourishment,
  light:$light,
  movement:$movement,
  thermal:$thermal,
  sound:$sound,
  material:$material,
  mind:$mind,
  community:$community,

  'blue5' : $blue5,
  'blue10': $blue10,
  'blue20': $blue20,
  'blue30': $blue30,
  'blue40': $blue40,
  'blue50': $blue50,
  'blue60': $blue60,
  'blue70': $blue70,
  'blue80': $blue80,

  'green10': $green10,
  'green20': $green20,
  'green30': $green30,
  'green40': $green40,
  'green50': $green50,
  'green60': $green60,
  'green70': $green70,
  'green80': $green80,

  'orange10': $orange10,
  'orange20': $orange20,
  'orange30': $orange30,
  'orange40': $orange40,
  'orange50': $orange50,
  'orange60': $orange60,
  'orange70': $orange70,
  'orange80': $orange80
);

$layout-spacing: (
  xxl: 120px,
  xl: 96px,
  l: 72px,
  m: 56px,
  s: 40px,
  xs: 24px,
  reset: 0
);

$item-spacing: (
  xl: 48px,
  l: 36px,
  m: 24px,
  s: 16px,
  xs: 12px,
  xxs: 8px,
  tiny: 4px,
  reset: 0
);

$delos-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$delos-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$gradient-bg-colors: (
  'blue20': linear-gradient(129.13deg, #4398C7 6.31%, #1B51A3 90.79%),
  'blue40': linear-gradient(131.69deg, #1B51A3 5.15%, #091F40 100%),
);

//------------------------------------------------------------------------------
// Font Config

$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
$font-family-sans-serif: 'brandon-grotesque', $font-system;
$font-family-serif: 'moderno-fb', $font-family-sans-serif;
$font-family-rounded: 'museo-sans-rounded', $font-family-sans-serif;
$font-family-monospace:   'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Monaco', 'Courier New', monospace;


$weight-xlight:   100;
$weight-light:    300;

$weight-normal:   300;
$weight-regular:  $weight-normal;

$weight-medium:   500;
$weight-bold:     600;
$weight-black:    700;
$weight-blackout: 900;

$weightMap: (
  xlight: $weight-xlight,
  light: $weight-light,
  normal: $weight-normal,
  regular: $weight-regular,
  medium: $weight-medium,
  bold: $weight-bold,
  black: $weight-black,
  blackout: $weight-blackout
);

// Typography
$font-size-base: 1rem;
$font-size-textbox: in-rems(18px);


//------------------------------------------------------------------------------
// Spacing vars

$module-offset: 6.25vw;
$mobile-module-offset: 20px;



//------------------------------------------------------------------------------
// Bootstrap Theming


// --- Color Overrides

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $coral
);

$body-bg: $white;
$body-color: $black;

$yiq-text-light: $white;
$yiq-text-dark: $grey-dark;


// --- Type Overrides
$font-family-base: $font-family-sans-serif;
