//------------------------------------------------------------------------------
// Config:
// Edit this to change base sizes at various viewport sizes.
// Widths will ultimately be used in media queries as @media (min-width #{base}px){}
//------------------------------------------------------------------------------

$scale: 1.25;  // global type scale
$base-fs: 18;  // base font size

$sizer: (
  /* sm: */
  ( base: 16,
    width: 320
  ),

  /* md: */
  ( base: 18,
    width: 700
  ),

  /* lg: */ 
  ( base: 22,
    width: 1400
  )
);


//------------------------------------------------------------------------------
// pow($base, $exp) - Raise number to the nth power:
//
// @param {number} $base  
//                  The base number
// @param {number} $exp
//                  The exponent to which to raise $base
//------------------------------------------------------------------------------
@function pow($base, $exp) {
  $raised: 1;
  
  @if $exp < 0 {          // if negative exponent, translate to 1/($base ^ $exp)
    $exp: $exp * -1;
    @for $i from 1 through $exp {
      $raised: $raised * $base;
    }
    $raised: (1 / $raised);
      
  } @else if $exp > 0 {
   @for $i from 1 through $exp {
      $raised: $raised * $base;
    }
  }
  
  @return $raised;
}

//------------------------------------------------------------------------------
// scale-base($base, $exp) - Apply type sizing formula:
//
// @param {number} $base  
//                  The base number, will default to the global base font size
// @param {number} $exp
//                  The exponent to which to raise $base. Defaults to 0
//------------------------------------------------------------------------------
@function scale-base ($base:$base-fs, $exp:0) {  
  $size: round($base * pow($scale, $exp));
  
  @return $size;  
}


//------------------------------------------------------------------------------
// fs-lock($exp) - Font-size mixin:
//
// @param {number} $exp (optional):
//                  Positive integer values increase text size from base
//                  Negative values shrink text from base
//                  0 (or default) export as base font size
//------------------------------------------------------------------------------
@mixin fs-lock($exp:0) {
  $l: length($sizer) + 1;
  
  @for $i from 1 to $l {
    $key: nth($sizer, $i);
    $b1: map-get($key, base);
    $mq1: map-get($key, width);
    
    @if $i == 1 {              // if smallest breakpoint
      $fs: scale-base($b1, $exp);
      font-size: #{$fs}px;
      
    } 
    
    @if $i == $l - 1 {        // if largest breakpoint
      $fs: scale-base($b1, $exp);

      @media (min-width: #{$mq1}px) {
        font-size: #{$fs}px;
      }

    } @else {
      $key2: nth($sizer, ($i + 1));
      $b2: map-get($key2, base);
      $mq2: map-get($key2, width);

      $fs1: scale-base($b1, $exp);
      $fs2: scale-base($b2, $exp);

      $slope: (($fs2 - $fs1)/($mq2 - $mq1));
      $slope-perc: $slope * 100;
      $offset: $fs1 - ($slope * $mq1);
      
      @media (min-width: #{$mq1}px) {
        font-size: calc(#{$slope-perc}vw + #{$offset}px);    
      }
    }

  }
}

// ---- AS USAGE EXAMPLES ONLY. DON'T USE HERE --- //
// .fs_body, 
// p,
// p a,
// ul,
// ol {
//   @include fs-lock(0);
// }

// .fs_h1,
// h1 {
//   @include fs-lock(3);
// }

// .fs_h2,
// h2 {
//   @include fs-lock(2);
// }

// .fs_h3,
// h3 {
//   @include fs-lock(1);
// }

// .fs_small,
// code {
//   @include fs-lock(-1);
// }
